.block-desing {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-desing__title {
  width: 40%;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #454545;
  padding-bottom: 4px;
}

.block-desing__title-after {
  width: 10%;
  padding-bottom: 6px;
  border-bottom: 10px solid #fbc61a;
}

.block-desing__text {
  width: 35%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #454545;
}

.desing-block {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.desing-block__first img {
  margin-top: 1rem;
}

.desing-block__second {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.desing-block__second p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  color: rgba(69, 69, 69, 0.66);
}

.desing-block__second span {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  color: #454545;
  margin-top: 1rem;
}

.block-desing__title-about {
  width: 40%;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #454545;
  margin-top: 4rem;
  margin-bottom: 4px;
}

.block-desing__photo {
  margin-top: 2rem;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.block-desing__photo img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: 0.5;
  transition: all 0.2s ease-in;
}

.block-desing__photo img:hover {
  opacity: 1;
  transition: all 0.2s ease-in;
}

.block-desing__photo img:nth-child(2) {
  margin-left: 2rem;
  margin-right: 2rem;
}

.block-desing__photo img:nth-child(5) {
  margin-left: 2rem;
  margin-right: 2rem;
}

.block-desing__photo-text {
  width: 40%;
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #454545;
}

.block-information__button {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

@media screen and (max-width: 1600px) {
  .block-desing__photo img:nth-child(2) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .block-desing__photo img:nth-child(5) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .block-desing__photo img {
    margin: 1.5rem;
  }

  .block-desing__text {
    width: 50%;
  }

  .block-desing__photo-text {
    width: 50%;
  }
}

@media screen and (max-width: 1366px) {
  .block-desing {
    margin-top: 0rem !important;
  }

  .desing-block {
    width: 50%;
  }
}

@media screen and (max-width: 1280px) {
  .block-desing__text {
    width: 60%;
  }

  .block-desing__photo-text {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .block-information__text-header {
    width: 100%;
  }

  .block-desing__text {
    width: 80%;
  }

  .block-desing__photo-text {
    width: 80%;
  }

  .desing-block {
    width: 70%;
  }

  .block-desing__photo img:nth-child(2) {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .block-desing__photo img:nth-child(5) {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .block-desing__photo img {
    margin: 1rem;
  }

  .block-desing__photo {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .header-logotype {
    margin-left: 0rem !important;
  }

  .block-desing__title {
    width: 60%;
  }

  .desing-block {
    width: 80%;
  }

  .block-desing__title-about {
    width: 60%;
  }
}

@media screen and (max-width: 425px) {
  .block-desing__title {
    width: 90%;
  }

  .block-desing__title-after {
    width: 25%;
  }

  .block-desing__text {
    width: 90%;
    text-align: center;
  }

  .desing-block {
    width: 90%;
  }

  .block-desing__title-about {
    width: 90%;
  }

  .block-desing__photo-text {
    width: 90%;
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .block-desing__title {
    font-size: 30px;
  }

  .block-desing__text {
    font-size: 16px;
    line-height: 30px;
  }

  .desing-block__second p {
    font-size: 16px;
    line-height: 30px;
  }

  .block-desing__title-about {
    font-size: 30px;
  }

  .block-desing__photo-text {
    font-size: 16px;
    line-height: 30px;
  }

  .block-desing__photo img {
    width: 90%;
  }
}

@media screen and (max-width: 375px) {
  .block-desing__title-about {
    margin-top: 2rem;
  }
}
