.block-noise-insulation {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-noise-insulation__title {
  width: 40%;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #454545;
  padding-bottom: 4px;
}

.block-noise-insulation__title-fisrt {
  width: 20%;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 46px;
  text-align: center;
  color: #454545;
}

.block-noise-insulation__text-fisrt {
  width: 35%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #454545;
}

.block-noise-insulation__title-after {
  width: 10%;
  padding-bottom: 6px;
  border-bottom: 10px solid #fbc61a;
}

.block-noise-insulation__text {
  width: 35%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #454545;
}

.noise-insulation-block {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.noise-insulation-block__first img {
  margin-top: 1rem;
}

.noise-insulation-block__second {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.noise-insulation-block__second p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  color: rgba(69, 69, 69, 0.66);
}

.noise-insulation-block__second span {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  color: #454545;
  margin-top: 1rem;
}

.block-noise-insulation__title-about {
  width: 40%;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #454545;
  margin-top: 4rem;
  margin-bottom: 4px;
}

.block-noise-insulation__photo {
  margin-top: 2rem;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.block-noise-insulation__photo img {
  margin: 1rem;
  opacity: 0.5;
  transition: all 0.2s ease-in;
}

.block-noise-insulation__photo img:hover {
  opacity: 1;
  transition: all 0.2s ease-in;
}

.block-noise-insulation__photo-text {
  width: 40%;
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #454545;
}

.noise-insulation__add {
  width: 30%;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border: 2px solid #efa716;
  border-radius: 30px;
  margin-bottom: 2rem;
}

.noise-insulation__add-text {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #454545;
}

.noise-insulation__add-price {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: #efa716;
}

.block-information__button {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

@media screen and (max-width: 1600px) {
  .block-noise-insulation__text {
    width: 50%;
  }

  .block-noise-insulation__photo-text {
    width: 50%;
  }

  .block-noise-insulation__photo {
    width: 90%;
  }
}

@media screen and (max-width: 1440px) {
  .block-noise-insulation__text-fisrt {
    width: 50%;
  }
}

@media screen and (max-width: 1366px) {
  .block-noise-insulation {
    margin-top: 0rem !important;
  }

  .noise-insulation-block {
    width: 50%;
  }

  .noise-insulation__add {
    width: 40%;
  }
}

@media screen and (max-width: 1280px) {
  .block-noise-insulation__text {
    width: 60%;
  }

  .block-noise-insulation__photo-text {
    width: 60%;
  }

  .block-noise-insulation__text-fisrt {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .block-information__text-header {
    width: 100%;
  }

  .block-noise-insulation__text {
    width: 80%;
  }

  .block-noise-insulation__photo-text {
    width: 80%;
  }

  .block-noise-insulation__text-fisrt {
    width: 80%;
  }

  .noise-insulation-block {
    width: 70%;
  }

  .block-noise-insulation__photo {
    width: 90%;
  }

  .block-noise-insulation__title-fisrt {
    width: 50%;
  }

  .noise-insulation__add {
    width: 50%;
  }

  .block-desing__title-about {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .header-logotype {
    margin-left: 0rem !important;
  }

  .block-noise-insulation__title {
    width: 72%;
  }

  .noise-insulation-block {
    width: 80%;
  }

  .block-noise-insulation__title-about {
    width: 60%;
  }

  .noise-insulation__add {
    width: 60%;
  }
}

@media screen and (max-width: 425px) {
  .block-noise-insulation__title {
    width: 90%;
  }

  .block-noise-insulation__title-after {
    width: 25%;
  }

  .block-noise-insulation__text {
    width: 90%;
    text-align: center;
  }

  .noise-insulation-block {
    width: 90%;
  }

  .block-noise-insulation__title-about {
    width: 90%;
  }

  .block-noise-insulation__photo-text {
    width: 90%;
    text-align: center;
  }

  .block-noise-insulation__photo img {
    margin: 1;
    width: 80%;
  }

  .block-noise-insulation__title {
    font-size: 30px;
  }

  .block-noise-insulation__title-fisrt {
    width: 65%;
  }

  .block-noise-insulation__text-fisrt {
    width: 90%;
    text-align: center;
  }

  .noise-insulation__add {
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  .block-noise-insulation__title {
    font-size: 30px;
  }

  .block-noise-insulation__text {
    font-size: 16px;
    line-height: 30px;
  }

  .noise-insulation-block__second p {
    font-size: 16px;
    line-height: 30px;
  }

  .block-noise-insulation__title-about {
    font-size: 30px;
  }

  .block-desing__title-about {
    font-size: 30px;
  }

  .block-noise-insulation__photo-text {
    font-size: 16px;
    line-height: 30px;
  }

  .block-noise-insulation__title-about {
    margin-top: 2rem;
  }
}
